<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title><%= @page_title %></title>
  </head>
  <header> 
    <h1>Duncan's Blog</h1>
  </header>
 
<body>
  <% @post.each do |post| %>
<div>
  <h2><%= post["title"] %> </h2>
  <img src="<%= post["image"] %>">
  <p><%= post["body"] %></p>
</div>

  <% end %>


</body>
</html>
