
header {
  background-color:black;
  font-family: 'Ubuntu', sans-serif;
  color:white;
  text-align: center;
  padding: 10px;
}

h1,h2,h3 {
  font-family: 'Ubuntu', sans-serif;
}

body {
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  margin: 0;
  text-align: center
  
}
